{{define "title"}}Custom Domain{{end}}
{{define "body"}}
<!-- One Column -->
<table width="600" class="deviceWidth" border="0" cellpadding="0" cellspacing="0" align="center" bgcolor="#eeeeed" style="margin:0 auto;">
    <tr>
        <td align="left" valign="top" style="padding:0; text-align:left; padding-left:40px; padding-top:60px; padding-bottom:60px;" bgcolor="#ffffff" class="nmp">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td valign="middle" width="13%">
                        <a href="{{forceURLAbs .Ctx .Provider.GetURLProvider}}" target="_blank" style="display:inline-block;">
                            <img src="{{forceURLAbs .Ctx .Provider.GetURLImgLogo}}" alt="homerun" width="60" height="60" border="0" style="display: inline-block; border-radius: 4px;" />
                        </a>
                    </td>
                    <td valign="middle" width="87%" style="padding-left:10px;">
                        <p class="paragraph" style="font-size:20px; line-height:125%; font-weight:400; color:#303030;font-family: 'Source Sans Pro', Georgia, sans-serif; font-weight:400;">{{.Provider.Name}}</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td align="left" style="font-size: 13px; color: #959595; font-weight: normal; text-align: left; font-family: 'Source Sans Pro', Georgia, Times, serif; line-height: 24px; vertical-align: top; padding:10px 40px 40px 40px; text-align:left;" bgcolor="#ffffff" class="nmp">
            <p class="paragraph" style="font-size:20px; line-height:125%; font-weight:400; color:#303030;font-family: 'Source Sans Pro', Georgia, sans-serif; font-weight:400;">
                Provider {{.Provider.Name}} has updated their custom domain.
                <br>
                <br>
                Current: {{.Provider.Domain}}
                <br>
                Previous: {{.Provider.DomainPrevious}}
            </p>
        </td>
    </tr>
</table><!-- End One Column -->
{{end}}