{{define "title"}}Order Payment{{end}}
{{define "body"}}
<!-- One Column -->
<table width="600" class="deviceWidth" border="0" cellpadding="0" cellspacing="0" align="center" bgcolor="#eeeeed" style="margin:0 auto;">
    <tr>
        <td align="left" valign="top" style="padding:0; text-align:left; padding-left:40px; padding-top:60px; padding-bottom:60px;" bgcolor="#ffffff" class="nmp">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td valign="middle" width="13%">
                        <a href="{{forceURLAbs .Ctx .Provider.GetURLProvider}}" target="_blank" style="display:inline-block;">
                            <img src="{{forceURLAbs .Ctx .Provider.GetURLImgLogo}}" alt="homerun" width="60" height="60" border="0" style="display: inline-block; border-radius: 4px;" />
                        </a>
                    </td>
                    <td valign="middle" width="87%" style="padding-left:10px;">
                        <p class="paragraph" style="font-size:20px; line-height:125%; font-weight:400; color:#303030;font-family: 'Source Sans Pro', Georgia, sans-serif; font-weight:400;">{{.Provider.Name}}</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td align="left" style="font-size: 13px; color: #959595; font-weight: normal; text-align: left; font-family: 'Source Sans Pro', Georgia, Times, serif; line-height: 24px; vertical-align: top; padding:10px 40px 40px 40px; text-align:left;" bgcolor="#ffffff" class="nmp">
            <p class="paragraph" style="font-size:20px; line-height:125%; font-weight:400; color:#303030;font-family: 'Source Sans Pro', Georgia, sans-serif; font-weight:400;">
                Hey <strong style="font-weight:600;">{{.Provider.User.FirstName}}</strong>,
            </p>
            <p class="paragraph" style="font-size:20px; line-height:125%; font-weight:400; color:#303030;font-family: 'Source Sans Pro', Georgia, sans-serif; font-weight:400;">
                You have received the payment from {{.Payment.Name}}.
            </p>
            <p class="paragraph" style="font-size:20px; line-height:125%; font-weight:400; color:#303030;font-family: 'Source Sans Pro', Georgia, sans-serif; font-weight:400;">
                To view the invoice, please use the <a href="{{forceURLAbs .Ctx .Payment.GetURLView}}" style="color:#fb6d3b;">View Invoice</a> link.
            </p>
        </td>
    </tr>
    <tr>
        <td align="left" style="font-size: 13px; color: #959595; font-weight: normal; text-align: left; font-family: 'Source Sans Pro', Georgia, Times, serif; line-height: 24px; vertical-align: top; padding:10px 40px 40px 40px; text-align:left;" bgcolor="#ffffff" class="nmp">
            <table class="deviceWidth" width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td valign="middle" align="center" bgcolor="#FB6D3B" style="background-color:#FB6D3B;border-radius:4px;">
                        <a class="btn" href="{{forceURLAbs .Ctx .Payment.GetURLView}}" style="font-family: 'Source Sans Pro', Georgia, sans-serif;font-size:24px; color:#ffffff; display:block; padding-top:18px; padding-bottom:22px;font-weight:600; padding-left:25px; padding-right:25px;" target="_blank">
                            View Invoice
                        </a>
                    </td>
                </tr>
            </table>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td style="opacity:0.1; border:none; border-bottom:solid 1px rgba(26,26,26,0.1); padding-top:15px;">&nbsp;</td>
                </tr>
            </table>
        </td>
    </tr>
</table><!-- End One Column -->
{{end}}
{{define "footer"}}
<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td class="help-center">
            <a href="{{forceURLAbs .Ctx .Provider.GetURLDashboard}}" target="_blank" style="font-size:14px;  white-space:nowrap;color:#1a1a1a; font-family: 'Source Sans Pro', Georgia, sans-serif; font-weight:700; text-transform:uppercase;">
                My Dashboard
            </a>
            <span style="width:40px;display:inline-block;font-size: 14px; font-weight: bold;color:#1a1a1a;">&bull;</span>
            <a href="{{forceURLAbs .Ctx .Provider.GetURLProvider}}" target="_blank" style="font-size:14px; white-space:nowrap;color:#1a1a1a; font-family: 'Source Sans Pro', Georgia, sans-serif; font-weight:700;text-transform:uppercase;">
                My Page
            </a>
            <span style="width:40px;display:inline-block;font-size: 14px; font-weight: bold;color:#1a1a1a;">&bull;</span>
            <a href="{{forceURLAbs .Ctx .Provider.GetURLBookings}}" target="_blank" style="font-size:14px; white-space:nowrap;color:#1a1a1a; font-family: 'Source Sans Pro', Georgia, sans-serif; font-weight:700;text-transform:uppercase;">
                Orders
            </a>
        </td>
    </tr>
</table>
{{end}}