{{define "title"}}Password Reset{{end}}
{{define "body"}}
<!-- One Column -->
<table width="600" class="deviceWidth" border="0" cellpadding="0" cellspacing="0" align="center" bgcolor="#eeeeed" style="margin:0 auto;">
    <tr>
        <td align="left" valign="top" style="padding:0; text-align:left; padding-left:40px; padding-top:60px; padding-bottom:60px;" bgcolor="#ffffff" class="nmp">
            <a href="{{forceURLAbs .Ctx .UrlDefault}}" target="_blank" style="display:inline-block;"><img src="{{forceURLAbs .Ctx .UrlAssets}}/email/img/logo.png" alt="homerun" border="0" style="display: block; border-radius: 4px;" /></a>
        </td>
    </tr>
    <tr>
        <td align="left" style="font-size: 13px; color: #959595; font-weight: normal; text-align: left; font-family: 'Source Sans Pro', Georgia, Times, serif; line-height: 24px; vertical-align: top; padding:10px 40px 15px 40px; text-align:left;" bgcolor="#ffffff" class="nmp">
            <h1 class="title" style="font-size:24px; color:#303030;font-family: 'Source Sans Pro', Georgia, sans-serif; font-weight:600; letter-spacing:-1.5px; margin:0 !important; padding-top:20px; padding-bottom:30px; line-height:110%;">
                Changing your HomeRun password <img src="{{forceURLAbs .Ctx .UrlAssets}}/email/img/monkey.png" class="monkey" alt="monkey" />
            </h1>
            <p class="paragraph" style="font-size:20px; line-height:125%; font-weight:400; color:#1a1a1a;font-family: 'Source Sans Pro', Georgia, sans-serif; font-weight:300;">
                Need to reset your password? No problem. Just click below to get started.
            </p>
            <table class="deviceWidth" width="272" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td valign="middle" align="center" bgcolor="#FB6D3B" style="background-color:#FB6D3B;border-radius:4px;">
                        <a class="btn" href="{{forceURLAbs .Ctx .UrlPwdReset}}" style="font-family: 'Source Sans Pro', Georgia, sans-serif;font-size:24px; color:#ffffff; display:block; padding-top:18px; padding-bottom:22px;font-weight:600; padding-left:25px; padding-right:25px;" target="_blank">
                            Reset my password
                        </a>
                    </td>
                </tr>
            </table>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td style="opacity:0.1; border:none; border-bottom:solid 1px rgba(26,26,26,0.1); padding-top:15px;">&nbsp;</td>
                </tr>
            </table>
            <p class="small-paragraph" style="font-size:17px; color:rgba(26,26,26,.60);font-family: 'Source Sans Pro', Georgia, sans-serif; padding-top:10px;">
                If you didn't request to change your HomeRun password, simply delete this email.
                You don't have to do anything. So that's easy.
            </p>
        </td>
    </tr>
</table> <!-- End One Column -->
{{end}}