{{define "body"}}
<div class="howItWorks__content my-4 my-lg-5">
    <div class="container">
        <div class="row howItWorks__items border-0 justify-content-center align-items-center">
            <div class="col-12">
                <h1 class="mt-3 mb-4 text-center">About Us</h1>
                <p class="subtitle">
                    We are based in Silicon Valley, California. Over the years we have worked with many service professionals, including tutors, designers, music teachers, handymen, house cleaners and others, from popular marketplace web sites. They have told us that they want to offer services directly to clients, pay less referral fees, and save time managing orders. So, we decided to create a product to help them.
                </p>
                <p class="subtitle">
                    We are just getting started. We’d love to learn from you how we can improve our product to help you grow your business. Please feel free to <a href="mailto:info@homerun.work">drop us a note</a>.
                </p>
                <p class="subtitle">
                    Team HomeRun
                </p>
            </div>
        </div>
    </div>
</div>
{{end}}