{{define "body"}}
<div class="howItWorks__content my-4 my-lg-5">
    <div class="container">
        <div class="row error__items justify-content-center align-items-center">
            <div class="row error__item col-12 pt-5 pb-5 justify-content-between align-items-center">
                <div class="col-lg-6 text-md-center">
                    <img src="{{.UrlAssets}}/provider/img/404.png" alt="" class="img-fluid">
                </div>
                <div class="col-lg-6 pl-lg-5 mt-4 text-center text-lg-left">
                    <h1 class="bold mb-3">Oops…</h1>
                    <p class="subtitle">Sorry... we can't find the page you are looking for :( Perphaps it's because:</p>
                    <ul class="list-unstyled subtitle mb-4">
                        <li>- the page has moved</li>
                        <li>- the page no longer exists</li>
                    </ul>
                    <a href="{{.UrlDefault}}" class="btn btn-primary">Return to homepage</a>
                </div>
            </div>
        </div>
    </div>
</div>
{{end}}