{{define "body"}}
<div class="faq py-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h3 class="mb-4">Frequently Asked Questions</h3>
        <div id="accordion">
          <!-- General -->
          <h4 class="mb-4">General</h4>
          <div class="card">
            <div class="card-header" id="heading0_1">
              <h5 class="mb-0">
                <button class="btn btn-link bold collapsed" data-toggle="collapse" data-target="#collapse0_1" aria-expanded="true" aria-controls="collapse0_1">
                  How can I log into my dashboard?
                </button>
              </h5>
            </div>
            <div id="collapse0_1" class="collapse" aria-labelledby="heading0_1" data-parent="#accordion">
              <div class="card-body">
                Open <a href="https://homerun.work">https://www.homerun.work</a>, and use the Log In button at the top of the page.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="heading0_2">
              <h5 class="mb-0">
                <button class="btn btn-link bold collapsed" data-toggle="collapse" data-target="#collapse0_2" aria-expanded="true" aria-controls="collapse0_2">
                  How to use Zoom Live Meeting for remote services?
                </button>
              </h5>
            </div>
            <div id="collapse0_2" class="collapse" aria-labelledby="heading0_2" data-parent="#accordion">
              <div class="card-body">
                First, you will need to activate Zoom from the Add-Ons page on your dashboard. After that, you need to enable Zoom Live Meeting for a service by selecting the "Remote" location option and checking the "Enable Zoom Live Meeting" box when you add or edit the service.
                <br /><br />
                After a client orders the service, a Join Zoom Live Meeting link will be automatically included in the order notification message sent to the client. You and your client can later use the link to enter the Zoom meeting at the appointment time.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="heading0_3">
              <h5 class="mb-0">
                <button class="btn btn-link bold collapsed" data-toggle="collapse" data-target="#collapse0_3" aria-expanded="true" aria-controls="collapse0_3">
                  How do I get my website usage reports?
                </button>
              </h5>
            </div>
            <div id="collapse0_3" class="collapse" aria-labelledby="heading0_3" data-parent="#accordion">
              <div class="card-body">
                We use Google Analytics to keep track of traffic and usage on your website. You can sign up for a free Google Analytics account for your HomeRun website at <a target="_blank" href="https://analytics.withgoogle.com/">https://analytics.withgoogle.com/</a>.
                <br /><br />
                Go to the Add-Ons page on your dashboard to activate the Google Analytics feature. You will need to provide the Tracking ID, which you can find on your Google Analytics account. Visit your Google Analytics page for up-to-date traffic reports.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="heading0_4">
              <h5 class="mb-0">
                <button class="btn btn-link bold collapsed" data-toggle="collapse" data-target="#collapse0_4" aria-expanded="true" aria-controls="collapse0_4">
                  How do I communicate with my clients?
                </button>
              </h5>
            </div>
            <div id="collapse0_4" class="collapse" aria-labelledby="heading0_4" data-parent="#accordion">
              <div class="card-body">
                You will receive a notification email or text each time a client orders your service. You will find the client's email address and phone number in the order. You can communicate with the client directly.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="heading0_5">
              <h5 class="mb-0">
                <button class="btn btn-link bold collapsed" data-toggle="collapse" data-target="#collapse0_5" aria-expanded="true" aria-controls="collapse0_5">
                  Is HomeRun free to clients?
                </button>
              </h5>
            </div>
            <div id="collapse0_5" class="collapse" aria-labelledby="heading0_5" data-parent="#accordion">
              <div class="card-body">
                Yes. HomeRun is free to use by your clients.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="heading0_6">
              <h5 class="mb-0">
                <button class="btn btn-link bold collapsed" data-toggle="collapse" data-target="#collapse0_6" aria-expanded="true" aria-controls="collapse0_6">
                  Can I use my domain for my website?
                </button>
              </h5>
            </div>
            <div id="collapse0_6" class="collapse" aria-labelledby="heading0_6" data-parent="#accordion">
              <div class="card-body">
                Yes. You can use your domain, such as "yourdomain.com" or "subdomain.yourdomain.com", for your website on HomeRun. Open the Profile page in the dashboard, then use the Use My Domain button to add your domain. It may take up to 48 hours before the domain becomes active.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="heading0_7">
              <h5 class="mb-0">
                <button class="btn btn-link bold collapsed" data-toggle="collapse" data-target="#collapse0_7" aria-expanded="true" aria-controls="collapse0_7">
                  How can I avoid schedule conflicts between my work orders and personal appointments?
                </button>
              </h5>
            </div>
            <div id="collapse0_7" class="collapse" aria-labelledby="heading0_7" data-parent="#accordion">
              <div class="card-body">
                You can add your personal Google calendar in your dashboard so that when a client tries to order your service, HomeRun will automatically check your personal calendar to verify your availability before accepting the order. Your orders can also be saved to your Google calendar. This way you can keep your work orders and personal appointments in sync and avoid double-booking.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="heading0_8">
              <h5 class="mb-0">
                <button class="btn btn-link bold collapsed" data-toggle="collapse" data-target="#collapse0_8" aria-expanded="true" aria-controls="collapse0_8">
                  How can I manage a team of people working for me to help clients?
                </button>
              </h5>
            </div>
            <div id="collapse0_8" class="collapse" aria-labelledby="heading0_8" data-parent="#accordion">
              <div class="card-body">
                On the Team page of your dashboard, you can add people working for you to your team, and they will receive an invitation email. After a team member accepts the invitation and completes the signup process, you can assign the member to one or more services that they can offer to clients. Each team member can have their own work schedule. When ordering a service, a client can select a team member based on the member's availability, and work directly with the selected team member. Each team member can only manage their own service orders and receive their reminders.<br /><br />
                To offer remote services, each team member can activate Zoom with their own Zoom account.
                All the team members will use your HomeRun website to work with clients.<br /><br />
                Only you can manage your HomeRun website and services including their descriptions and fees. You will be able to view and manage all the service orders for all the team members, send invoices and receive payments for the orders. Your team members cannot send invoices or receive payments on your behalf. You can add and remove team members.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="heading0_9">
              <h5 class="mb-0">
                <button class="btn btn-link bold collapsed" data-toggle="collapse" data-target="#collapse0_9" aria-expanded="true" aria-controls="collapse0_9">
                  Is HomeRun HIPAA-compliant?
                </button>
              </h5>
            </div>
            <div id="collapse0_9" class="collapse" aria-labelledby="heading0_9" data-parent="#accordion">
              <div class="card-body">
                Yes - HomeRun is HIPAA-compliant, which means your data will be protected.<br />
              </div>
            </div>
          </div>
          <!-- Services -->
          <h3>&nbsp;</h3>
          <h4 class="mb-4">Services</h4>
          <div class="card">
            <div class="card-header" id="heading1_1">
              <h5 class="mb-0">
                <button class="btn btn-link bold collapsed" data-toggle="collapse" data-target="#collapse1_1" aria-expanded="true" aria-controls="collapse1_1">
                  What's the difference between On-Demand and By-Appointment services?
                </button>
              </h5>
            </div>
            <div id="collapse1_1" class="collapse" aria-labelledby="heading1_1" data-parent="#accordion">
              <div class="card-body">
                A By Appointment service requires that you meet the client at a scheduled date and time, either at a physical location or remotely (via online live meeting or by phone) to deliver the service. Typical By Appointment services include cleaning, tutoring, consultation, repair and others that require an appointment. By Appointment services typically last between 30 minutes and a couple of hours, although they can also take longer. An On-Demand service lets you deliver the service to a client within a period of time, without the need for an appointment with the client. Typical On-Demand services include design, writing, marketing and others that clients can order at any time and you can complete the delivery within the duration of the service, which can take between an hour and several days. Like By Appointment services, On-Demand services can also be delivered at a location or remotely.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="heading1_2">
              <h5 class="mb-0">
                <button class="btn btn-link bold collapsed" data-toggle="collapse" data-target="#collapse1_2" aria-expanded="false" aria-controls="collapse1_2">
                  What is the cut-off time for new orders?
                </button>
              </h5>
            </div>
            <div id="collapse1_2" class="collapse" aria-labelledby="heading1_2" data-parent="#accordion">
              <div class="card-body">
                When adding or editing a service, you can find the Minimum Advance Notice value under Advanced Options. By default The value is 1 hour. You can enter the numbers of hours and days as the cut-off time for new orders of the service.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="heading1_3">
              <h5 class="mb-0">
                <button class="btn btn-link bold collapsed" data-toggle="collapse" data-target="#collapse1_3" aria-expanded="false" aria-controls="collapse1_3">
                  Can I offer free services?
                </button>
              </h5>
            </div>
            <div id="collapse1_3" class="collapse" aria-labelledby="heading1_3" data-parent="#accordion">
              <div class="card-body">
                Yes. You can enter "0" as the price for the service that you offer for free.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="heading1_4">
              <h5 class="mb-0">
                <button class="btn btn-link bold collapsed" data-toggle="collapse" data-target="#collapse1_4" aria-expanded="false" aria-controls="collapse1_4">
                  How can I block out time between service appointments?
                </button>
              </h5>
            </div>
            <div id="collapse1_4" class="collapse" aria-labelledby="heading1_4" data-parent="#accordion">
              <div class="card-body">
                When adding or editing a service, in the Padding field under Advanced Options, enter the number of minutes you want to block out between appointments of the service.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="heading1_5">
              <h5 class="mb-0">
                <button class="btn btn-link bold collapsed" data-toggle="collapse" data-target="#collapse1_5" aria-expanded="false" aria-controls="collapse1_5">
                  How to change the interval of time slots?
                </button>
              </h5>
            </div>
            <div id="collapse1_5" class="collapse" aria-labelledby="heading1_5" data-parent="#accordion">
              <div class="card-body">
                When adding or editing a service, in the Interval field under Advanced Options, select the number of minutes for the interval of time slots. By default the interval is 15 minutes.
              </div>
            </div>
          </div>
          <!-- Orders -->
          <h3>&nbsp;</h3>
          <h4 class="mb-4">Orders</h4>
          <div class="card">
            <div class="card-header" id="heading2_1">
              <h5 class="mb-0">
                <button class="btn btn-link bold collapsed" data-toggle="collapse" data-target="#collapse2_1" aria-expanded="true" aria-controls="collapse2_1">
                  Can I approve or reject orders from clients?
                </button>
              </h5>
            </div>
            <div id="collapse2_1" class="collapse" aria-labelledby="heading2_1" data-parent="#accordion">
              <div class="card-body">
                You have full control of your orders. After you receive a new order from a client, you can confirm or reject the order.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="heading2_2">
              <h5 class="mb-0">
                <button class="btn btn-link bold collapsed" data-toggle="collapse" data-target="#collapse2_2" aria-expanded="false" aria-controls="collapse2_2">
                  How can I create a recurring weekly or bi-weekly order?
                </button>
              </h5>
            </div>
            <div id="collapse2_2" class="collapse" aria-labelledby="heading2_2" data-parent="#accordion">
              <div class="card-body">
                When creating a new order, you have the option of One-Time, Repeat Weekly or Bi-Weekly. By selecting either Weekly or Bi-Weekly, you will be creating a repeating order at the same time and day of the week for 9 occurrences.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="heading2_3">
              <h5 class="mb-0">
                <button class="btn btn-link bold collapsed" data-toggle="collapse" data-target="#collapse2_3" aria-expanded="false" aria-controls="collapse2_3">
                  Can I include a message to the client when I confirm an order?
                </button>
              </h5>
            </div>
            <div id="collapse2_3" class="collapse" aria-labelledby="heading2_3" data-parent="#accordion">
              <div class="card-body">
                Yes. When adding or editing a service, you can enter a custom confirmation message under Advanced Options. When you confirm an order of the service, the message will be automatically included in the order confirmation notification sent to the client. You can also edit the confirmation message before you confirm an order.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="heading2_4">
              <h5 class="mb-0">
                <button class="btn btn-link bold collapsed" data-toggle="collapse" data-target="#collapse2_4" aria-expanded="false" aria-controls="collapse2_4">
                  How can I prevent double-booking?
                </button>
              </h5>
            </div>
            <div id="collapse2_4" class="collapse" aria-labelledby="heading2_4" data-parent="#accordion">
              <div class="card-body">
                The system automatically reserves the time slots of existing orders so that no new orders can be made on the same time slots.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="heading2_5">
              <h5 class="mb-0">
                <button class="btn btn-link bold collapsed" data-toggle="collapse" data-target="#collapse2_5" aria-expanded="false" aria-controls="collapse2_5">
                  Can the client cancel an order?
                </button>
              </h5>
            </div>
            <div id="collapse2_5" class="collapse" aria-labelledby="heading2_5" data-parent="#accordion">
              <div class="card-body">
                Yes. Either you or your client can cancel an order. After an order is cancelled, you or your client will be notified by email or SMS, and the time slot for the order will become available for new orders.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="heading2_6">
              <h5 class="mb-0">
                <button class="btn btn-link bold collapsed" data-toggle="collapse" data-target="#collapse2_6" aria-expanded="false" aria-controls="collapse2_6">
                  How can I receive order notifications and reminders in SMS/mobile text?
                </button>
              </h5>
            </div>
            <div id="collapse2_6" class="collapse" aria-labelledby="heading2_6" data-parent="#accordion">
              <div class="card-body">
                You will need to enter your mobile phone number by going to the Account page on your dashboard. After that, you will receive a notification SMS message on your phone for order notification and reminders.
              </div>
            </div>
          </div>
          <!-- Invoices and Payments -->
          <h3>&nbsp;</h3>
          <h4 class="mb-4">Invoices and Payments</h4>
          <div class="card">
            <div class="card-header" id="heading3_1">
              <h5 class="mb-0">
                <button class="btn btn-link bold collapsed" data-toggle="collapse" data-target="#collapse3_1" aria-expanded="true" aria-controls="collapse3_1">
                  How can I receive payments from clients?
                </button>
              </h5>
            </div>
            <div id="collapse3_1" class="collapse" aria-labelledby="heading3_1" data-parent="#accordion">
              <div class="card-body">
                You will need to activate Payments. Go to Payments on the dashboard. You can activate either Paypal or Stripe payment service. Follow the instructions to connect to your business account on the selected service over a secured connection.
                <br /><br />
                If you don't already have a business account with any payment service, you can sign up with these links:
                Paypal: https://www.paypal.com/bizsignup/
                Stripe: https://dashboard.stripe.com/register
                <br /><br />
                When signing up for a business account, if your business is not an LLC or corporation, you can choose Sole Proprietary as the business entity.
                <br /><br />
                After activating a payment service, your clients will be able to pay directly to your account with the payment service. You can send invoices for service orders to your clients. Your payment service will notify you of the received fund after your invoice amount is paid.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="heading3_2">
              <h5 class="mb-0">
                <button class="btn btn-link bold collapsed" data-toggle="collapse" data-target="#collapse3_2" aria-expanded="true" aria-controls="collapse3_2">
                  What payment methods can my clients use to pay for services?
                </button>
              </h5>
            </div>
            <div id="collapse3_2" class="collapse" aria-labelledby="heading3_2" data-parent="#accordion">
              <div class="card-body">
                Depending on the payment service that you use, your clients can pay with major credit cards including Visa, MasterCard, American Express, Discover, Paypal and Venmo. They can also pay directly from their bank accounts.

              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="heading3_3">
              <h5 class="mb-0">
                <button class="btn btn-link bold collapsed" data-toggle="collapse" data-target="#collapse3_3" aria-expanded="true" aria-controls="collapse3_3">
                  How can I ask my clients to pay for orders?
                </button>
              </h5>
            </div>
            <div id="collapse3_3" class="collapse" aria-labelledby="heading3_3" data-parent="#accordion">
              <div class="card-body">
                After you confirm an order, you can use the Send Invoice button to send an invoice to the client's email address. You can specify a different recipient for the invoice or adjust the invoice amount. All invoices are due to receipt. When your clients receive their invoices, they can use the Pay button to submit the payment to you.<br /><br />
                Alternatively, your client scan the QR code on your web page to send you the payment immediately without waiting for an invoice. After your client sends the payment a paid invoice will be automatically saved in your account.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="heading3_4">
              <h5 class="mb-0">
                <button class="btn btn-link bold collapsed" data-toggle="collapse" data-target="#collapse3_4" aria-expanded="true" aria-controls="collapse3_4">
                  Can I let my clients pay upfront for their service orders?
                </button>
              </h5>
            </div>
            <div id="collapse3_4" class="collapse" aria-labelledby="heading3_4" data-parent="#accordion">
              <div class="card-body">
                Yes. When your clients receive the order confirmation message, they can use the Pay button in the confirmed order to pay the full order amount upfront to you.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="heading3_5">
              <h5 class="mb-0">
                <button class="btn btn-link bold collapsed" data-toggle="collapse" data-target="#collapse3_5" aria-expanded="true" aria-controls="collapse3_5">
                  Does HomeRun charge commissions?
                </button>
              </h5>
            </div>
            <div id="collapse3_5" class="collapse" aria-labelledby="heading3_5" data-parent="#accordion">
              <div class="card-body">
                No – we do not charge commission for service orders. If you charge $50 for your service, you get to keep the full amount without paying us a cent.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="heading3_6">
              <h5 class="mb-0">
                <button class="btn btn-link bold collapsed" data-toggle="collapse" data-target="#collapse3_6" aria-expanded="true" aria-controls="collapse3_6">
                  Are there any transaction fees for payments?
                </button>
              </h5>
            </div>
            <div id="collapse3_6" class="collapse" aria-labelledby="heading3_6" data-parent="#accordion">
              <div class="card-body">
                While we do not charge any transaction fees, your payment service provider may. The fee amounts charged by payment service providers vary. Based on our experience, major payment service providers typically charges about 2.9% plus $0.30 fee for each transaction.
                <br /><br />
                Please check with your payment service for their transaction fees.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="heading3_7">
              <h5 class="mb-0">
                <button class="btn btn-link bold collapsed" data-toggle="collapse" data-target="#collapse3_7" aria-expanded="true" aria-controls="collapse3_7">
                  Can I receive payments into my bank account?
                </button>
              </h5>
            </div>
            <div id="collapse3_7" class="collapse" aria-labelledby="heading3_7" data-parent="#accordion">
              <div class="card-body">
                Yes. Your payment service provider (Paypal or Stripe) typically lets you withdraw payments you receive from clients to your bank account. Please check with your payment service provider for details.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="heading3_8">
              <h5 class="mb-0">
                <button class="btn btn-link bold collapsed" data-toggle="collapse" data-target="#collapse3_8" a8ria-expanded="true" aria-controls="collapse3_8">
                  How does HomeRun secure my payment account information?
                </button>
              </h5>
            </div>
            <div id="collapse3_8" class="collapse" aria-labelledby="heading3_8" data-parent="#accordion">
              <div class="card-body">
                We do not store your payment account information, which is managed by your payment service provider such as Stripe or Paypal. After you activate a payment service, the provider manages the payment process from end to end. HomeRun only receives notification as to whether a payment succeeds or fails. As a result, our system does not have any of your payment account information.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="heading3_9">
              <h5 class="mb-0">
                <button class="btn btn-link bold collapsed" data-toggle="collapse" data-target="#collapse3_9" a8ria-expanded="true" aria-controls="collapse3_9">
                  How can my clients pay via my QR code?
                </button>
              </h5>
            </div>
            <div id="collapse3_9" class="collapse" aria-labelledby="heading3_9" data-parent="#accordion">
              <div class="card-body">
                You can ask your clients to scan your personal QR code on your HomeRun webpage to pay for your services with credit cards or PayPal, or via bank transfer. It is a convenient way for you to receive payments fast if you don't have time to send invoices to your clients. If you are with the client, you can open your HomeRun page on your phone and let them scan the QR code on the page. You can also save your QR code image on your phone and just show the image for your clients to scan and pay.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="heading3_10">
              <h5 class="mb-0">
                <button class="btn btn-link bold collapsed" data-toggle="collapse" data-target="#collapse3_10" a8ria-expanded="true" aria-controls="collapse3_10">
                  How do I manage invoices and payments if I have a team of people working for me?
                </button>
              </h5>
            </div>
            <div id="collapse3_10" class="collapse" aria-labelledby="heading3_10" data-parent="#accordion">
              <div class="card-body">
                While your team members will work directly with your clients, only you can manage the invoices and receive payments for their work. You can see all the service orders for your team members. You can send the invoice for each order and receive payments into your payment accounts.
              </div>
            </div>
          </div>
          <!-- Marketing -->
          <h3>&nbsp;</h3>
          <h4 class="mb-4">Marketing</h4>
          <div class="card">
            <div class="card-header" id="heading4_1">
              <h5 class="mb-0">
                <button class="btn btn-link bold collapsed" data-toggle="collapse" data-target="#collapse4_1" aria-expanded="true" aria-controls="collapse4_1">
                  Can people find my HomeRun website from Google search?
                </button>
              </h5>
            </div>
            <div id="collapse4_1" class="collapse" aria-labelledby="heading4_1" data-parent="#accordion">
              <div class="card-body">
                Your website is automatically optimized for Googe search. You can help improve your website's search ranking by using a descriptive business name and entering detailed descriptions about your business and services. You can also publish articles online on other websites about your website. Please feel free to <a href="https://test.homerun.work/support.html">contact us</a> for help.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="heading4_2">
              <h5 class="mb-0">
                <button class="btn btn-link bold collapsed" data-toggle="collapse" data-target="#collapse4_2" aria-expanded="true" aria-controls="collapse4_2">
                  How can I use coupon codes to promote my services?
                </button>
              </h5>
            </div>
            <div id="collapse4_2" class="collapse" aria-labelledby="heading4_2" data-parent="#accordion">
              <div class="card-body">
                You can create coupon codes and target them for either all your clients or just new clients. When clients enter your coupon code in ordering your service, they will automatically receive a discount on the service charge. You can share your coupon codes with your clients as incentives for ordering your services.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{end}}