{{define "body"}}
<div class="how-it-works-grid">
    <div class="container">
        <div class="row justify-content-center ">
            <div class="col-md-10">
                <div class="row justify-content-center text-center pt-5 pb-lg-2">
                    <div class="col-lg-8">
                        <h1>How HomeRun Can Help You</h1>
                        <p>HomeRun makes it easy for you to manage your schedule, invoice your clients, and get paid fast! We provide you with the essential tools to run your business online.</p>
                    </div>
                </div>
                <div class="row align-items-center text-center text-lg-left item py-5">
                    <div class="col-lg-4 order-2 order-lg-1">
                        <img src="{{.UrlAssets}}/provider/img/h1.png" alt="" class="img-fluid">
                    </div>
                    <div class="col-lg-7 offset-md-1 order-1 order-lg-2">
                        <h3>Build Your Site</h3>
                        <p>Build your search engine-friendly site with your own domain name, no technical skills needed. Publish and schedule your services online. Offer clients your services directly. We will never place ads on your site.</p>
                    </div>
                </div>
                <div class="row align-items-center text-center text-lg-left item py-5">
                    <div class="col-lg-7">
                        <h3>Easy Scheduling</h3>
                        <p>Clients pick your availability from the calendar, and book services. No back-and-forth appointment phone calls and emails. We track your orders, so no double booking either. Your orders sync to your personal calendar, with emails and SMS reminders going out to you and your clients. Swish! </p>
                    </div>
                    <div class="col-lg-4 offset-md-1">
                        <img src="{{.UrlAssets}}/provider/img/h2.png" alt="" class="img-fluid">
                    </div>
                </div>
                <div class="row align-items-center text-center text-lg-left item py-5">
                    <div class="col-lg-4 order-2 order-lg-1">
                        <img src="{{.UrlAssets}}/provider/img/h3.png" alt="" class="img-fluid">
                    </div>
                    <div class="col-lg-7 offset-md-1 order-1 order-lg-2">
                        <h3>Invoice & Get Paid</h3>
                        <p>Invoice your clients before or after delivery, use Stripe or Paypal to deposit cash directly to your bank account. Clients pay with credit cards or from bank accounts, and we do not take commission. </p>
                    </div>
                </div>
                <div class="row align-items-center text-center text-lg-left item py-5">
                    <div class="col-lg-7">
                        <h3>Help with Marketing</h3>
                        <p>Market yourself on Facebook, LinkedIn and other social media pages. We help you help yourself with these tools, and support you every step of the way.</p>
                        <ul class="list-unstyled text-left">
                            <li>Facebook — our experts help you advertise to your target audience.</li>
                            <li>SEO — automatic optimization for Google search.</li>
                            <li>Coupon Codes — generate coupon codes for new clients, or reward existing clients with discounts.</li>
                        </ul>
                    </div>
                    <div class="col-lg-4 offset-md-1">
                        <img src="{{.UrlAssets}}/provider/img/h4.png" alt="" class="img-fluid">
                    </div>
                </div>
                <div class="row align-items-center text-center text-lg-left item py-5">
                    <div class="col-lg-4 order-2 order-lg-1">
                        <img src="{{.UrlAssets}}/provider/img/h5.png" alt="" class="img-fluid">
                    </div>
                    <div class="col-lg-7 offset-md-1 order-1 order-lg-2">
                        <h3>Dashboard Extraordinaire</h3>
                        <p>Track and manage your clients in one convenient Dashboard! You can view order and payment history, schedule additional services, and more.</p>
                    </div>
                </div>
                <div class="row align-items-center text-center text-lg-left item py-5">
                    <div class="col-lg-7">
                        <h3>Work Through Zoom</h3>
                        <p>Easily schedule remote work with clients via Zoom video chat. Clients can book appointments, and you get reminders to join your Zoom meeting at the right time and place.</p>
                    </div>
                    <div class="col-lg-4 offset-md-1">
                        <img src="{{.UrlAssets}}/provider/img/h6.png" alt="" class="img-fluid">
                    </div>
                </div>
                <div class="row align-items-center text-center text-lg-left item py-5">
                    <div class="col-lg-4 order-2 order-lg-1">
                        <img src="{{.UrlAssets}}/provider/img/h7.png" alt="" class="img-fluid">
                    </div>
                    <div class="col-lg-7 offset-md-1 order-1 order-lg-2">
                        <h3>Link Sites</h3>
                        <p>Drive your readers to your services by linking your HomeRun account to your personal website. Use HomeRun to send invoices, bill clients, market to your audience, and more.
                        </p>
                    </div>
                </div>
                <div class="row align-items-center text-center text-lg-left item py-5">
                    <div class="col-lg-7">
                        <h3>More Clients, ZERO Commissions</h3>
                        <p>We take ZERO of your hard-earned pay — HomeRun lets you serve new and existing clients through referrals, social media and other online channels without commissions.</p>
                    </div>
                    <div class="col-lg-4 offset-md-1">
                        <img src="{{.UrlAssets}}/provider/img/h8.png" alt="" class="img-fluid">
                    </div>
                </div>
                <div class="row get-started text-center py-5">
                    <div class="col-12">
                        <p class="mb-0">You can find more information from our <a href="{{.UrlFaq}}">FAQ</a> page.</p>
                        <p><a href="{{.UrlSignUp}}">Sign Up</a> for free. No credit card required.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{end}}