{{define "body"}}
<div class="block block-2">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <h1 class="font-weight-bold mb-4">Schedule Services, Invoice Clients & Get Fast Payments!</h1>
                <p class="mb-4">Everything you'll need to run a home-based business. Get 3 Months Free + No Commission.</p>
                <a href="{{.UrlSignUp}}" class="btn btn-green d-none d-lg-inline-block">Sign Up for Free</a>
            </div>
            <div class="col-lg-6 offset-lg-1 text-center">
                <img src="{{.UrlAssets}}/provider/img/landing/cta-1.png" class="img-fluid mb-4 mb-lg-0" alt="">
                <a href="{{.UrlSignUp}}" class="btn btn-green btn-block d-lg-none">Sign Up for Free</a>
            </div>
        </div>
    </div>
</div>
<div class="block block-3">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-5 mb-lg-0">
                <div class="wrap pr-lg-5 mr-lg-4">
                    <img src="{{.UrlAssets}}/provider/img/landing/calendar.svg" class="mb-4" alt="">
                    <h4 class="font-weight-bold mb-4">Easy Online Scheduling</h4>
                    <p>Clients pick your availability from the calendar and book services. No back-and-forth appointment calls or e-mails.</p>
                </div>
            </div>
            <div class="col-md-4 mb-5 mb-lg-0">
                <div class="wrap pr-lg-5 mr-lg-4">
                    <img src="{{.UrlAssets}}/provider/img/landing/payments.svg" class="mb-4" alt="">
                    <h4 class="font-weight-bold mb-4">Fast Invoicing & Payments</h4>
                    <p>Invoice your clients before or after delivery and use Stripe or PayPal to deposit cash directly to your bank account.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="wrap pr-lg-5 mr-lg-4">
                    <img src="{{.UrlAssets}}/provider/img/landing/integrations.svg" class="mb-4" alt="">
                    <h4 class="font-weight-bold mb-4">Integration with Zoom</h4>
                    <p>Our seamless integration with Zoom lets you quickly & easily connect with your clients for interactive 1-on-1 sessions.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="block block-4">
    <div class="container">
        <div class="row row-1 mb-5 align-items-center">
            <div class="col-lg-5 pr-lg-5">
                <h3 class="font-weight-bold mb-3">Launch your business website in minutes</h3>
                <p>Run your business website instantly by just answering a few questions and start listing & scheduling your services online.</p>
                <ul class="list-unstyled font-weight-bold mb-5">
                    <li>No tech skills needed</li>
                </ul>
                <h3 class="font-weight-bold mb-3">Easy scheduling</h3>
                <p>Clients pick your availability from the calendar, and book services. No back-and-forth appointment phone calls and emails.</p>
                <ul class="list-unstyled font-weight-bold">
                    <li>Sync with calendar</li>
                    <li>E-mail & SMS reminders</li>
                </ul>
            </div>
            <div class="col-lg-6 mt-5 mt-lg-0 offset-lg-1">
                <img src="{{.UrlAssets}}/provider/img/landing/cta-2.png" class="img-fluid" alt="">
            </div>
        </div>
        <div class="row row-2 align-items-center">
            <div class="col-lg-6 mt-5 mt-lg-0 order-2 order-lg-1">
                <img src="{{.UrlAssets}}/provider/img/landing/cta-3.png" class="img-fluid" alt="">
            </div>
            <div class="col-lg-5 order-1 order-lg-2">
                <h3 class="font-weight-bold mb-3">Fast invoicing & payments</h3>
                <p>Invoice your clients before or after delivery, use Stripe, PayPal, ACH, or Zelle to deposit cash directly to your bank account.</p>
                <ul class="list-unstyled font-weight-bold mb-5">
                    <li>Credit Cards, PayPal, Stripe & more</li>
                    <li>0% commissions & No hold time</li>
                </ul>
                <h3 class="font-weight-bold mb-3">Manage your team</h3>
                <p>HomeRun makes it easy for you to have a team of pros to help you work with clients. You can organize everything in one place.</p>
                <ul class="list-unstyled font-weight-bold">
                    <li>Individual schedules for team members</li>
                    <li>Clients can book each member directly</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="block block-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 mb-5 text-center">
                <h2 class="font-weight-bold">HomeRun is Perfect for</h2>
            </div>
            <div class="col-lg-4 mb-5 mb-lg-0 text-center">
                <img src="{{.UrlAssets}}/provider/img/landing/tutors.svg" class="icon img-fluid mb-3" alt="">
                <h5 class="font-weight-bold">Language Tutors</h5>
            </div>
            <div class="col-lg-4 mb-5 mb-lg-0 text-center">
                <img src="{{.UrlAssets}}/provider/img/landing/teachers.svg" class="icon img-fluid mb-3" alt="">
                <h5 class="font-weight-bold">Music Teachers</h5>
            </div>
            <div class="col-lg-4 mb-5 mb-lg-0 text-center">
                <img src="{{.UrlAssets}}/provider/img/landing/workers.svg" class="icon img-fluid mb-3" alt="">
                <h5 class="font-weight-bold">Service Workers</h5>
            </div>
            <div class="col-lg-5 text-center">
                <img src="{{.UrlAssets}}/provider/img/landing/cta-4.png" class="img-fluid d-none d-lg-block mx-auto my-lg-5" alt="">
                <h4 class="font-weight-bold">... & pretty much for anyone who provides services in-person or online!</h4>
            </div>
        </div>
    </div>
</div>
<div class="block block-6">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 mb-5 mb-lg-0">
                <img src="{{.UrlAssets}}/provider/img/landing/stars.svg" class="img-fluid mb-5" alt="">
                <p class="mb-5">“I still absolutely love the concept of this site. I am a small business owner and things are rarely easy and there seem to always be hoops to jump through. I think you have made a nice easy process that is so helpful to so many.”</p>
                <h6 class="font-weight-bold mb-0">Sarah R.</h6>
                <span class="d-block">Housekeeping Services</span>
            </div>
            <div class="col-lg-4">
                <img src="{{.UrlAssets}}/provider/img/landing/stars.svg" class="img-fluid mb-5" alt="">
                <p class="mb-5">“As a vocal instructor this site was very easy to work with. I felt that I would be able to keep everything (students, instructor availability, lesson time, level of students skill) organized all on one website! ”</p>
                <h6 class="font-weight-bold mb-0">Alison W.</h6>
                <span class="d-block">Music Lessons</span>
            </div>
        </div>
    </div>
</div>
<div class="block block-7">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="font-weight-bold mb-4">Get a 3-Month Free Access to HomeRun with No Commisions!</h2>
                <a href="{{.UrlSignUp}}" class="btn btn-green">Sign Up Now</a>
            </div>
        </div>
    </div>
</div>
{{end}}