{{define "body"}}
<script type="module">
    window.addEventListener('load', function () {
        try {
            FB.getLoginStatus(function (response) {
                if (response.status === 'connected') {
                    FB.logout();
                }
            });
        } catch (e) {
            console.log(e);
        } finally {
            window.location = '/';
        }
    });
</script>
{{end}}
{{define "body-pre"}}
<script>
    window.fbAsyncInit = function () {
        FB.init({
            appId: '{{.FacebookAppId}}',
            cookie: true,
            xfbml: true,
            version: '{{.FacebookAPIVersion}}'
        });
        FB.AppEvents.logPageView();
    };
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) { return; }
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
{{end}}