{{define "body"}}
<div class="getting-started">
    <div class="start-hero py-4 py-lg-5">
        <div class="container">
            <div class="col-12 text-center">
                <h3>Our Pricing</h3>
            </div>
        </div>
    </div>
    <div class="start-copy pt-4 pt-lg-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10 col-lg-6 text-center">
                    <h5 class="mb-4">A simple and flexible plan for everyone</h5>
                    <p class="mb-5">First 3 service orders are FREE. After that, it's only <b>$10</b> per month. You can cancel at any time.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="start-pricing py-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10 col-lg-6 text-center">
                    <p>Benefits include:</p>
                    <ul class="list-unstyled">
                        <li>Your own branded website with custom URL</li>
                        <li>Online booking and appointment reminders</li>
                        <li>Fast and easy invoicing and payments</li>
                        <li>Direct deposit to your PayPal and Stripe account</li>
                        <li>Integration with Zoom for live video meeting</li>
                        <li>Coaching and assistance with advertising on Facebook</li>
                        <li>Customer support</li>
                        <li>More features to come!</li>
                    </ul>
                    <a href="{{addURLType .UrlSignUp .TypeSignUp}}" class="btn btn-primary my-4">Sign Up</a>
                </div>
            </div>
        </div>
    </div>
</div>
{{end}}