{{define "body"}}
<div class="howItWorks__content my-4 my-lg-5">
    <div class="container">
        <div class="row howItWorks__items border-0 justify-content-center align-items-center">
            <div class="col-12">
                <h1 class="mt-3 mb-4 text-center">HomeRun Support</h1>
                <p class="subtitle">
                <h6 class="font-weight-bold">Support for any issues or questions</h6>
                </p>
                <p class="subtitle">
                    Please report any issues via:
                </p>
                <p class="subtitle">
                    Email: <a href="mailto:support@homerun.work">support@homerun.work</a>
                </p>
                <p class="subtitle">
                    Please include these details in your report:
                <ul>
                    <li class="subtitle">Description of issue, including any error message</li>
                    <li class="subtitle">Date and time of occurrence</li>
                    <li class="subtitle">Device type and OS (e.g. Windows, Mac, iPhone, etc.)</li>
                    <li class="subtitle">Browser type (e.g. Chrome, Safari, etc.)</li>
                    <li class="subtitle">Screenshots (if any)</li>
                </ul>
                </p>
                <p class="subtitle">
                    The above information will help us diagnose and resolve the issues quickly.
                </p>
                <p class="subtitle">
                    You will receive an email reply from our human support staff within 24 hours.
                </p>
                <p class="subtitle mt-5">
                <h6 class="font-weight-bold">Live Support</h6>
                </p>
                <p class="subtitle">
                    We provide live support at:
                </p>
                <p class="subtitle">
                    Messenger: <a href="https://m.me/homerunworkpro">https://m.me/homerunworkpro</a>
                </p>
                <p class="subtitle">
                    <span class="font-weight-bold">Live support hours:</span> 9 AM to 6 PM PST, Monday through Friday except U.S public holidays
                </p>
                <p class="subtitle">
                    <span class="font-weight-bold">Live support response time from our human support staff:</span> Less than 30 minutes
                </p>
                <p class="subtitle">
                    <span class="font-weight-bold">After-hour response time:</span> Less than 24 hours
                </p>
                <p class="subtitle mt-5">
                <h6 class="font-weight-bold">How-To Guide</h6>
                </p>
                <p class="subtitle">
                    <a href="{{.UrlHowTo}}">Step-by-step instructions</a> on how to use our product features.
                </p>
                <p class="subtitle mt-5">
                <h6 class="font-weight-bold">FAQ</h6>
                </p>
                <p class="subtitle">
                    Find answers to the <a href="{{.UrlFaq}}">frequently asked questions</a>.
                </p>
            </div>
        </div>
    </div>
</div>
{{end}}