{{define "body"}}
<div class="client-header mb-lg-5 mb-4">
    <div class="banner editable-block" style="background-image: url('{{.Provider.GetURLImgBanner}}')">
        {{if and (not .ClientView) (eq .UserId .Provider.FormatUserID)}}
        <a href="{{.Provider.MarkURLClient .Provider.GetURLProfileBanner}}" class="btn btn-primary edit-icon edit-icon-btn">
            <img src="{{.UrlAssets}}/client/img/edit-icon.png" width="20" class="mr-2" alt="" />
            Change
        </a>
        {{end}}
    </div>
    <div class="container">
        <div class="row client-logo justify-content-center">
            <div class="col-lg-3 col-md-4 col-7">
                <div class="editable-block client-logo-img">
                    <img src="{{.Provider.GetURLImgLogo}}" alt="" class="img-full border-5">
                    {{if and (not .ClientView) (eq .UserId .Provider.FormatUserID)}}
                    <a href="{{.Provider.MarkURLClient .Provider.GetURLProfileLogo}}" class="btn btn-primary edit-icon edit-icon-btn centered">
                        <img src="{{.UrlAssets}}/client/img/edit-icon.png" width="20" class="mr-2 rounded-0" alt="" />
                        Change
                    </a>
                    {{end}}
                </div>
                <div class="client-social mt-3 d-lg-block d-md-block d-none">
                    {{if or .Provider.URLFacebook .Provider.URLInstagram .Provider.URLLinkedIn .Provider.URLTwitter .Provider.URLWeb}}
                    <ul class="list-unstyled clearfix">
                        {{if .Provider.URLFacebook}}
                        <li><a href="{{.Provider.URLFacebook}}" target="_blank"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                        {{end}}
                        {{if .Provider.URLInstagram}}
                        <li><a href="{{.Provider.URLInstagram}}" target="_blank"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                        {{end}}
                        {{if .Provider.URLLinkedIn}}
                        <li><a href="{{.Provider.URLLinkedIn}}" target="_blank"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
                        {{end}}
                        {{if .Provider.URLTwitter}}
                        <li><a href="{{.Provider.URLTwitter}}" target="_blank"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                        {{end}}
                        {{if .Provider.URLWeb}}
                        <li><a href="{{.Provider.URLWeb}}" target="_blank"><i class="fas fa-globe" aria-hidden="true"></i></a></li>
                        {{end}}
                    </ul>
                    {{else if and (not .ClientView) (eq .UserId $.Provider.FormatUserID)}}
                    <div class="alert alert-callout">
                        <img src="{{.UrlAssets}}/client/img/exclamation-circle-light.svg" alt="" width="18px" class="mr-2" />
                        Add <a href="{{.Provider.MarkURLClient .Provider.GetURLLinks}}">social media links</a>.
                    </div>
                    {{end}}
                </div>
            </div>
            <div class="col-md col-12 text-lg-left text-md-left text-center mt-3">
                <h2 class="black h1 mb-2">
                    {{if and (not .ClientView) (eq .UserId .Provider.FormatUserID)}}
                    <a href="{{.Provider.MarkURLClient .Provider.GetURLProfile}}" class="icon-orange ml-3 h4"><i class="fas fa-pencil-alt"></i></a>
                    {{end}}
                    {{.Provider.Name}}
                </h2>
            </div>
            <div class="col-md-auto col-12 text-center mt-3 mb-3">
                <a href="{{.Provider.GetURLContactClient}}" class="btn btn-secondary">Contact Us</a>
            </div>
        </div>
        <div class="client-social mt-3 d-lg-none d-md-none">
            {{if or .Provider.URLFacebook .Provider.URLInstagram .Provider.URLLinkedIn .Provider.URLTwitter .Provider.URLWeb}}
            <ul class="list-unstyled clearfix">
                {{if .Provider.URLFacebook}}
                <li><a href="{{.Provider.URLFacebook}}" target="_blank"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                {{end}}
                {{if .Provider.URLInstagram}}
                <li><a href="{{.Provider.URLInstagram}}" target="_blank"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                {{end}}
                {{if .Provider.URLLinkedIn}}
                <li><a href="{{.Provider.URLLinkedIn}}" target="_blank"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
                {{end}}
                {{if .Provider.URLTwitter}}
                <li><a href="{{.Provider.URLTwitter}}" target="_blank"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                {{end}}
                {{if .Provider.URLWeb}}
                <li><a href="{{.Provider.URLWeb}}" target="_blank"><i class="fas fa-globe" aria-hidden="true"></i></a></li>
                {{end}}
            </ul>
            {{else if and (not .ClientView) (eq .UserId $.Provider.FormatUserID)}}
            <div class="alert alert-callout">
                <img src="{{.UrlAssets}}/client/img/exclamation-circle-light.svg" alt="" width="18px" class="mr-2" />
                Add <a href="{{.Provider.MarkURLClient .Provider.GetURLLinks}}">social media links</a>.
            </div>
            {{end}}
        </div>
    </div>
    <div class="container mt-4 mt-lg-5">
        <div class="row">
            <div class="col-lg-7">
                <p>
                    {{if and (not .ClientView) (eq .UserId .Provider.FormatUserID)}}
                    <a href="{{.Provider.MarkURLClient .Provider.GetURLProfile}}" class="icon-orange ml-3 h4"><i class="fas fa-pencil-alt"></i></a>
                    {{end}}
                    {{.Provider.Description}}
                </p>
                {{if .Provider.Education}}
                <h5 class="bold text-uppercase mb-2">Education</h5>
                <p>
                    {{.Provider.FormatEducation}}
                </p>
                {{end}}
                {{if .Provider.Experience}}
                <h5 class="bold text-uppercase mb-2">Experience</h5>
                <p>
                    {{.Provider.FormatExperience}}
                </p>
                {{end}}
                <div class="btn-group">
                    {{if .Provider.About}}
                    <a href="{{.Provider.GetURLAboutClient}}" class="d-block mt-4 mb-3 mb-lg-0 mr-5">
                        <h4 class="font-weight-bold">Read Our Story <i class="fas fa-caret-right"></i></h4>
                    </a>
                    {{end}}
                    {{if .FaqCount}}
                    <a href="{{.Provider.GetURLFaqClient}}" class="d-block mt-4 mb-3 mb-lg-0">
                        <h4 class="font-weight-bold">FAQ <i class="fas fa-caret-right"></i></h4>
                    </a>
                    {{end}}
                </div>
            </div>
            <div class="col-lg-5">
                <div class="row mb-4">
                    <div class="col-12">
                        <h5 class="bold text-uppercase mb-0">
                            Our Schedule
                            {{if and (not .ClientView) (eq .UserId .Provider.FormatUserID)}}
                            <a href="{{.Provider.MarkURLClient .Provider.GetURLHours}}" class="icon-orange ml-3 h4"><i class="fas fa-pencil-alt"></i></a>
                            {{end}}
                        </h5>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            {{range $i, $s := .Schedule1}}
                            <div class="col-3 text-left">
                                <span>{{$s.DayOfWeek}}</span>
                            </div>
                            <div class="col-9 text-right">
                                {{range $j, $t := .Times}}
                                <span class="d-block">{{$t.FormatTimesLocal $.TimeZone}}</span>
                                {{end}}
                            </div>
                            {{end}}
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            {{range $i, $s := .Schedule2}}
                            <div class="col-3 text-left">
                                <span>{{$s.DayOfWeek}}</span>
                            </div>
                            <div class="col-9 text-right">
                                {{range $j, $t := .Times}}
                                <span class="d-block">{{$t.FormatTimesLocal $.TimeZone}}</span>
                                {{end}}
                            </div>
                            {{end}}
                        </div>
                    </div>
                </div>
                <div class="row align-items-center">
                    {{if .Provider.Location}}
                    <div class="col-12">
                        <h5 class="bold text-uppercase mb-0">
                            Our Location
                            {{if and (not .ClientView) (eq .UserId .Provider.FormatUserID)}}
                            <a href="{{.Provider.MarkURLClient .Provider.GetURLProfile}}" class="icon-orange ml-3 h4"><i class="fas fa-pencil-alt"></i></a>
                            {{end}}
                        </h5>
                    </div>
                    <div class="col-lg-8 mb-2 mb-lg-0">
                        <p class="mb-0">{{.Provider.FormatLocation}}</p>
                    </div>
                    <div class="col-lg-4">
                        {{if .Provider.IsMappable}}
                        <a href="{{.Provider.GetURLMap}}" target="_blank" class="btn btn-block btn-secondary">Map It</a>
                        {{end}}
                    </div>
                    {{else if and (not .ClientView) (eq .UserId $.Provider.FormatUserID)}}
                    <div class="alert alert-callout">
                        <img src="{{.UrlAssets}}/client/img/exclamation-circle-light.svg" alt="" width="18px" class="mr-2" />
                        Add your <a href="{{.Provider.MarkURLClient .Provider.GetURLProfile}}">business location</a> here.
                    </div>
                    {{end}}
                </div>
                {{if .Provider.SupportsPayment}}
                <div class="row align-items-center">
                    <div class="col-12">
                        <h5 class="bold text-uppercase mt-3 mb-3">Pay by QR Code</h5>
                        <div id="qr-code"></div>
                    </div>
                </div>
                {{end}}
            </div>
        </div>
    </div>
</div>
<div class="container">
    {{if not .Testimonials}}
    {{if and (not .ClientView) (eq .UserId $.Provider.FormatUserID)}}
    <div class="alert alert-callout">
        <img src="{{.UrlAssets}}/client/img/exclamation-circle-light.svg" alt="" width="18px" class="mr-2" />
        Client testimonials can help you get more clients. <a href="{{.Provider.MarkURLClient .Provider.GetURLTestimonialAdd}}">Enter here</a>.
    </div>
    {{end}}
    {{else}}
    <div class="card no-bottom-radius no-bottom-border py-3 px-4">
        <h5 class="bold text-uppercase mb-0">Testimonials</h5>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="tab-content" id="">
                <div class="tab-pane editable-block active" id="testimonials" style="min-height: 338px;">
                    {{if and (not .ClientView) (eq .UserId .Provider.FormatUserID)}}
                    <div class="text-right">
                        <a href="{{.Provider.MarkURLClient .Provider.GetURLTestimonials}}" class="btn btn-primary edit-icon edit-icon-btn toped">
                            <i class="fa fa-pencil m-0"></i>
                        </a>
                    </div>
                    {{end}}
                    <div class="px-lg-5">
                        <div class="testimonial px-3 d-flex align-items-center">
                            {{range .Testimonials}}
                            <!--testimonial start-->
                            <div class="d-lg-flex d-md-flex align-items-center justify-content-center text-center">
                                {{$c := "text-center"}}
                                {{if .GetURLImg}}
                                {{$c = "pr-lg-5 mr-lg-5"}}
                                {{end}}
                                <div class="{{$c}}">
                                    <h3 class="h2 bold font-italic">
                                        "{{.Text}}"
                                    </h3>
                                    <p class="h3 mt-3">
                                        {{.Name}}{{if .City}}, {{.City}}{{end}}
                                    </p>
                                </div>
                                {{if .GetURLImg}}
                                <img src="{{.GetURLImg}}" style="width: 300px;" alt="">
                                {{end}}
                            </div>
                            <!--testimonial end-->
                            {{end}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{end}}
</div>
<div class="service-list list-block my-lg-5 my-4">
    <div class="container">
        {{if gt (len .Svcs) 0}}
        {{$svcText := "Services"}}
        {{if eq (len .Svcs) 1}}
        {{$svcText = "Service"}}
        {{end}}
        <div class="card no-bottom-radius no-bottom-border py-3 px-4">
            <h5 class="bold text-uppercase mb-0">Our {{$svcText}}</h5>
        </div>
        <div class="row">
            {{if eq (len .Svcs) 1}}
            {{range .Svcs}}
            <!--service start-->
            <div class="col-md-12 mb-4">
                <div class="card">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="editable-block">
                                {{if and (not $.ClientView) (eq $.UserId $.Provider.FormatUserID)}}
                                <a href="{{$.Provider.MarkURLClient ($.Provider.GetURLServiceEditImgs .ID)}}" class="btn btn-primary edit-icon edit-icon-btn toped">
                                    <img src="{{$.UrlAssets}}/client/img/edit-icon.png" width="20" class="mr-2" alt="" />
                                    Change
                                </a>
                                {{end}}
                                <a href="{{.GetURLService}}">
                                    <img src="{{.GetURLImgMain}}" alt="" class="img-fluid card-img rounded-0 w-100 mb-lg-0">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body pl-lg-0">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <h2 class="black mb-2">
                                            {{if and (not $.ClientView) (eq $.UserId $.Provider.FormatUserID)}}
                                            <a href="{{$.Provider.MarkURLClient ($.Provider.GetURLServiceEdit .ID)}}" class="icon-orange ml-3"><i class="fas fa-pencil-alt"></i></a>
                                            {{end}}
                                            {{.Name}}
                                        </h2>
                                    </div>
                                    <div class="col-auto">
                                        <span class="price black">{{.FormatPrice}}</span>
                                    </div>
                                </div>
                                <p class="card-text">
                                    {{.Description}}
                                </p>
                                <div class="btn-toolbar" role="group">
                                    <a href="{{.GetURLBooking}}" class="btn btn-primary mr-1">
                                        Order Now
                                    </a>
                                    <a href="{{.GetURLService}}" class="btn btn-secondary">Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--service end-->
            {{end}}
            {{else}}
            {{range .Svcs}}
            <!--service start-->
            <div class="col-md-6 mb-4">
                <div class="card">
                    <div class="editable-block">
                        {{if and (not $.ClientView) (eq $.UserId $.Provider.FormatUserID)}}
                        <a href="{{$.Provider.MarkURLClient ($.Provider.GetURLServiceEditImgs .ID)}}" class="btn btn-primary edit-icon edit-icon-btn toped">
                            <img src="{{$.UrlAssets}}/client/img/edit-icon.png" width="20" class="mr-2" alt="" />
                            Change
                        </a>
                        {{end}}
                        <a href="{{.GetURLService}}">
                            <div class="card-image-bg" style="background-image: url({{.GetURLImgMain}});"></div>
                        </a>
                    </div>
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col">
                                <h2 class="black mb-2">
                                    {{if and (not $.ClientView) (eq $.UserId $.Provider.FormatUserID)}}
                                    <a href="{{$.Provider.MarkURLClient ($.Provider.GetURLServiceEdit .ID)}}" class="icon-orange ml-3"><i class="fas fa-pencil-alt"></i></a>
                                    {{end}}
                                    {{.Name}}
                                </h2>
                            </div>
                            <div class="col-auto">
                                <span class="price black">{{.FormatPrice}}</span>
                            </div>
                        </div>
                        <p class="card-text">
                            {{.Description}}
                        </p>
                        <div class="btn-toolbar" role="group">
                            <a href="{{.GetURLBooking}}" class="btn btn-primary mr-1">
                                Order Now
                            </a>
                            <a href="{{.GetURLService}}" class="btn btn-secondary">Details</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--service end-->
            {{end}}
            {{end}}
        </div>
        {{end}}
    </div>
</div>
<script type="module">
    window.addEventListener('load', function () {
        $('a[data-toggle="tab"]').on("shown.bs.tab", function (e) {
            $(".testimonial").slick("unslick");
            $(".testimonial").slick({
                arrows: true,
                autoplay: true,
                autoplaySpeed: 4000
            });
            // Show/Hide expand button
            if ($(".about-text .about-text-wrap").height() > $(".about-text").height()) {
                $(".about-text-expand").removeClass("d-none");
            } else {
                $(".about-text-expand").addClass("d-none");
            }
            if ($(this).parents(".card").is(".expanded")) {
                $(this).parents(".card").css("min-height", "440px").removeClass("expanded");
                $(this).parents(".card").find(".about-text").attr("style", "");
                $(this).parents(".card").find(".about-text-expand span").text("Expand for more");
                $(this).parents(".card").find(".about-text-expand").find(".fa").toggleClass("fa-angle-up fa-angle-down");
            }
        });
        $('.testimonial').slick({
            arrows: true,
            autoplay: true,
            autoplaySpeed: 4000,
        });
        // Sho/Hide about text
        if ($(".about-text .about-text-wrap").height() > $(".about-text").height()) {
            $(".about-text-expand").removeClass("d-none");
        } else {
            $(".about-text-expand").addClass("d-none");
        }
        $(".about-text-expand").click(function () {
            if ($(this).parents(".card").is(".expanded")) {
                $(this).parents(".card").css("min-height", "440px").removeClass("expanded");
                $(".about-text").attr("style", "");
                $(this).find("span").text("Expand for more");
                $(this).find(".fa").toggleClass("fa-angle-up fa-angle-down");
            } else {
                var height = $(this).parents(".about-text").find(".about-text-wrap").height();
                var oldHeight = $(this).parents(".card").height();
                var newHeight = height + 149;
                $(this).parents(".card").css("min-height", newHeight).addClass("expanded");
                $(this).parents(".about-text").css({
                    "max-height": "inherit",
                    "padding-bottom": "30px"
                });
                $(this).find("span").text("Collapse");
                $(this).find(".fa").toggleClass("fa-angle-up fa-angle-down");
            }
        });
    });
</script>
{{end}}
{{define "script"}}
{{if .Provider.SupportsPayment}}
<script src="{{.UrlAssets}}/dashboard/js/kjua-0.9.0.min.js"></script>
<script type="module">
    window.addEventListener('load', function () {
        var img = new Image();
        img.src = '{{forceURLAbs .Ctx .Provider.GetURLImgLogo}}';
        img.crossOrigin = 'Anonymous';
        $('#qr-code').kjua({
            ecLevel: 'Q',
            size: 125,
            text: '{{forceURLAbs .Ctx .Provider.GetURLPaymentDirectClient}}',
            render: 'svg',
            mode: 'image',
            mSize: 25,
            image: img
        });
    });
</script>
{{end}}
{{end}}