{{define "body"}}
<div class="container">
    <div class="row">
        {{block "left-nav" .}}
        {{end}}
        <div class="col-lg-9 pl-lg-5 content client-list">
            {{block "breadcrumb" .}}
            {{end}}
            <div class="row">
                <div class="col-md-12 mb-4 mb-lg-5">
                    <div>
                        <h5>
                            The clients who have ordered your services, or been added by you. You can add or edit clients, and invite them to your website here.
                        </h5>
                    </div>
                </div>
            </div>
            <form id="form-client" method="GET">
                <div class="row align-items-center client-stats py-3 py-lg-4 m-0">
                    <div class="col-xl-9 mb-3 mb-xl-0">
                        <h2 class="semibold mb-0">Clients <span>{{len .Clients}} clients</span></h2>
                    </div>
                    <div class="col-xl-3">
                        <a href="{{.Provider.GetURLClientAdd}}" class="btn-block btn btn-secondary float-xl-right addClientsBtn"><i class="fas fa-plus-circle" aria-hidden="true"></i> Add Client</a>
                    </div>
                </div>
                <div class="row m-0">
                    <input type="hidden" id="input-client-id" name="{{.Inputs.ClientID}}">
                    {{range .Clients}}
                    <div class="col-md-12 client">
                        <ul class="list-unstyled clearfix mb-0 change-order">
                            <li class="client-email">
                                <span class="d-block">{{.Email}}</span>
                            </li>
                            <li class="client-name">
                                <span class="d-block">{{.Name}}</span>
                            </li>
                            <li class="client-phone">
                                <span class="d-block">
                                    {{if .Phone}}
                                    {{.Phone}}
                                    {{else}}
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    {{end}}
                                </span>
                            </li>
                            <li class="client-actions">
                                {{if .Invited}}
                                <button type="button" class="btn btn-tertiary invite" onclick="submitForm('form-client', '{{$.FormAction2}}', 'input-client-id', '{{.ID}}', true);">Re-Invite</button>
                                {{else}}
                                <button type="button" class="btn btn-tertiary invite" onclick="submitForm('form-client', '{{$.FormAction2}}', 'input-client-id', '{{.ID}}', true);">Invite</button>
                                {{end}}
                                <button type="button" class="btn btn-tertiary edit" onclick="submitForm('form-client', '{{$.FormAction}}', 'input-client-id', '{{.ID}}', false);"><i class="fas fa-pencil-alt" aria-hidden="true"></i></button>
                            </li>
                        </ul>
                    </div>
                    {{end}}
                </div>
            </form>
        </div>
    </div>
</div>
{{end}}